[Unit]
Description=uWSGI instance to serve qwc2_plugin

[Service]
ExecStartPre=-/usr/bin/bash -c 'mkdir -p /run/uwsgi; chown qgisserver:www-data /run/uwsgi'
ExecStart=/usr/bin/bash -c 'cd /opt/qwc2/qwc-services/qwc2_plugin; source .venv/bin/activate; uwsgi --ini qwc2_plugin.ini'

[Install]
WantedBy=multi-user.target